ImageViewer/Web/Client/Silverlight/Service References/AppServiceReference/ApplicationServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClearCanvas.ImageViewer.Web.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClearCanvas.ImageViewer.Web.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rectangle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Left" type="xs:int" />
      <xs:element minOccurs="0" name="Top" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rectangle" nillable="true" type="tns:Rectangle" />
  <xs:complexType name="RectangleF">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bottom" type="xs:double" />
      <xs:element minOccurs="0" name="Left" type="xs:double" />
      <xs:element minOccurs="0" name="Right" type="xs:double" />
      <xs:element minOccurs="0" name="Top" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RectangleF" nillable="true" type="tns:RectangleF" />
</xs:schema>