ImageViewer/Web/Client/Silverlight/Service References/AppServiceReference/ApplicationServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.clearcanvas.ca/web/application/viewer" elementFormDefault="qualified" targetNamespace="http://www.clearcanvas.ca/web/application/viewer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:40221/ApplicationServices?xsd=xsd2" namespace="http://www.clearcanvas.ca/web/application" />
  <xs:import schemaLocation="http://localhost:40221/ApplicationServices?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ClearCanvas.ImageViewer.Web.Common" />
  <xs:import schemaLocation="http://localhost:40221/ApplicationServices?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="Viewer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.clearcanvas.ca/web/application" base="q1:Entity">
        <xs:sequence>
          <xs:element name="Layout" nillable="true" type="tns:Layout" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Viewer" nillable="true" type="tns:Viewer" />
  <xs:complexType name="Layout">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClearCanvas.ImageViewer.Web.Common" name="ClientRectangle" nillable="true" type="q2:Rectangle" />
      <xs:element name="ImageBoxes" nillable="true" type="tns:ArrayOfImageBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Layout" nillable="true" type="tns:Layout" />
  <xs:complexType name="ArrayOfImageBox">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageBox" nillable="true" type="tns:ImageBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImageBox" nillable="true" type="tns:ArrayOfImageBox" />
  <xs:complexType name="ImageBox">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.clearcanvas.ca/web/application" base="q3:Entity">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClearCanvas.ImageViewer.Web.Common" name="NormalizedRectangle" nillable="true" type="q4:RectangleF" />
          <xs:element name="Tiles" nillable="true" type="tns:ArrayOfTile" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageBox" nillable="true" type="tns:ImageBox" />
  <xs:complexType name="ArrayOfTile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tile" nillable="true" type="tns:Tile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTile" nillable="true" type="tns:ArrayOfTile" />
  <xs:complexType name="Tile">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://www.clearcanvas.ca/web/application" base="q5:Entity">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="Image" nillable="true" type="q6:Stream" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ClearCanvas.ImageViewer.Web.Common" name="NormalizedRectangle" nillable="true" type="q7:RectangleF" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tile" nillable="true" type="tns:Tile" />
</xs:schema>