ImageViewer/Web/Client/Silverlight/Service References/AppServiceReference/ApplicationServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://www.clearcanvas.ca/web/application" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ApplicationServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IApplicationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IApplicationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.clearcanvas.ca/web/application" location="http://localhost:50221/?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:portType name="ICrossDomainPolicyService" />
  <wsdl:binding name="CustomBinding_ICrossDomainPolicyService" type="tns:ICrossDomainPolicyService" />
  <wsdl:binding name="CustomBinding_IApplicationService" type="i0:IApplicationService">
    <wsp:PolicyReference URI="#CustomBinding_IApplicationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateContext">
      <soap12:operation soapAction="http://www.clearcanvas.ca/web/application/IApplicationService/CreateContext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseContext">
      <soap12:operation soapAction="http://www.clearcanvas.ca/web/application/IApplicationService/ReleaseContext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommands">
      <soap12:operation soapAction="http://www.clearcanvas.ca/web/application/IApplicationService/ExecuteCommands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMessages">
      <soap12:operation soapAction="http://www.clearcanvas.ca/web/application/IApplicationService/ProcessMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EventNotification">
      <soap12:operation soapAction="http://www.clearcanvas.ca/web/application/IApplicationService/EventNotification" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IApplicationService" type="i0:IApplicationService">
    <wsp:PolicyReference URI="#NetTcpBinding_IApplicationService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateContext">
      <soap12:operation soapAction="http://www.clearcanvas.ca/web/application/IApplicationService/CreateContext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseContext">
      <soap12:operation soapAction="http://www.clearcanvas.ca/web/application/IApplicationService/ReleaseContext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommands">
      <soap12:operation soapAction="http://www.clearcanvas.ca/web/application/IApplicationService/ExecuteCommands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMessages">
      <soap12:operation soapAction="http://www.clearcanvas.ca/web/application/IApplicationService/ProcessMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EventNotification">
      <soap12:operation soapAction="http://www.clearcanvas.ca/web/application/IApplicationService/EventNotification" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationServices">
    <wsdl:port name="CustomBinding_ICrossDomainPolicyService" binding="tns:CustomBinding_ICrossDomainPolicyService" />
    <wsdl:port name="CustomBinding_IApplicationService" binding="tns:CustomBinding_IApplicationService">
      <soap12:address location="http://localhost:50221/ApplicationServices" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:50221/ApplicationServices</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IApplicationService" binding="tns:NetTcpBinding_IApplicationService">
      <soap12:address location="net.tcp://localhost:4520/ApplicationServices" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:4520/ApplicationServices</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>