ImageViewer/Web/Client/Silverlight/Service References/AppServiceReference/item14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClearCanvas.ImageViewer.Web.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClearCanvas.ImageViewer.Web.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50221/?xsd=xsd2" namespace="http://www.clearcanvas.ca/web/application" />
  <xs:complexType name="WebAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebActionNode">
        <xs:sequence>
          <xs:element name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="IconSet" nillable="true" type="tns:WebIconSet" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element name="ToolTip" nillable="true" type="xs:string" />
          <xs:element name="Visible" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebAction" nillable="true" type="tns:WebAction" />
  <xs:complexType name="WebActionNode">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.clearcanvas.ca/web/application" base="q1:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Children" nillable="true" type="tns:ArrayOfWebActionNode" />
          <xs:element minOccurs="0" name="LocalizedText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebActionNode" nillable="true" type="tns:WebActionNode" />
  <xs:complexType name="ArrayOfWebActionNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebActionNode" nillable="true" type="tns:WebActionNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebActionNode" nillable="true" type="tns:ArrayOfWebActionNode" />
  <xs:complexType name="WebIconSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="LargeIcon" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MediumIcon" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SmallIcon" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebIconSet" nillable="true" type="tns:WebIconSet" />
  <xs:complexType name="ArrayOfWebAction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebAction" nillable="true" type="tns:WebAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebAction" nillable="true" type="tns:ArrayOfWebAction" />
  <xs:complexType name="WebBranchActionNode">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebActionNode">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebBranchActionNode" nillable="true" type="tns:WebBranchActionNode" />
  <xs:complexType name="WebClickAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebAction">
        <xs:sequence>
          <xs:element name="IsCheckAction" type="xs:boolean" />
          <xs:element name="IsChecked" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebClickAction" nillable="true" type="tns:WebClickAction" />
  <xs:complexType name="WebDropDownButtonAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebClickAction">
        <xs:sequence>
          <xs:element minOccurs="0" name="DropDownActions" nillable="true" type="tns:ArrayOfWebAction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebDropDownButtonAction" nillable="true" type="tns:WebDropDownButtonAction" />
  <xs:complexType name="WebMenuAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebClickAction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebMenuAction" nillable="true" type="tns:WebMenuAction" />
  <xs:complexType name="WebKeyboardAction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebClickAction">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebKeyboardAction" nillable="true" type="tns:WebKeyboardAction" />
</xs:schema>