ImageViewer/Web/Client/Silverlight/Service References/AppServiceReference/item1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.clearcanvas.ca/web/application" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.clearcanvas.ca/web/application" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.clearcanvas.ca/web/application/Imports">
      <xsd:import schemaLocation="http://localhost:50221/?xsd=xsd1" namespace="http://www.clearcanvas.ca/web/application" />
      <xsd:import schemaLocation="http://localhost:50221/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ClearCanvas.Web.Common" />
      <xsd:import schemaLocation="http://localhost:50221/?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50221/?xsd=xsd2" namespace="http://www.clearcanvas.ca/web/application/viewer" />
      <xsd:import schemaLocation="http://localhost:50221/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApplicationService_StartApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:StartApplication" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_StartApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_StartApplication_SessionValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ClearCanvas.Web.Common" name="detail" element="q1:SessionValidationFault" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_StopApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:StopApplication" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_ProcessMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessMessages" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_ProcessMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_ReportPerformance_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportPerformance" />
  </wsdl:message>
  <wsdl:message name="IApplicationService_EventNotification_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:EventNotification" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IApplicationService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartApplication">
      <wsdl:input wsaw:Action="http://www.clearcanvas.ca/web/application/IApplicationService/StartApplication" message="tns:IApplicationService_StartApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://www.clearcanvas.ca/web/application/IApplicationService/StartApplicationResponse" message="tns:IApplicationService_StartApplication_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.clearcanvas.ca/web/application/IApplicationService/StartApplicationSessionValidationFaultFault" name="SessionValidationFaultFault" message="tns:IApplicationService_StartApplication_SessionValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StopApplication">
      <wsdl:input wsaw:Action="http://www.clearcanvas.ca/web/application/IApplicationService/StopApplication" message="tns:IApplicationService_StopApplication_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ProcessMessages">
      <wsdl:input wsaw:Action="http://www.clearcanvas.ca/web/application/IApplicationService/ProcessMessages" message="tns:IApplicationService_ProcessMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://www.clearcanvas.ca/web/application/IApplicationService/ProcessMessagesResponse" message="tns:IApplicationService_ProcessMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReportPerformance">
      <wsdl:input wsaw:Action="http://www.clearcanvas.ca/web/application/IApplicationService/ReportPerformance" message="tns:IApplicationService_ReportPerformance_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EventNotification">
      <wsdl:output wsaw:Action="http://www.clearcanvas.ca/web/application/IApplicationService/EventNotification" message="tns:IApplicationService_EventNotification_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>