ImageServer/Services/WorkQueue/WebEditStudy/ActionPlugins/SetValue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DeleteValue" targetNamespace="http://tempuri.org/DeleteValue.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/DeleteValue.xsd" xmlns:mstns="http://tempuri.org/DeleteValue.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="set">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tag" type="xs:string" />
				<xs:element name="value" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>