ImageViewer/DesktopServices/Automation/TestClient/Service References/ViewerAutomation/Automation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.clearcanvas.ca/dicom" elementFormDefault="qualified" targetNamespace="http://www.clearcanvas.ca/dicom" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudyNotFoundFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="StudyNotFoundFault" nillable="true" type="tns:StudyNotFoundFault" />
  <xs:complexType name="StudyNearlineFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="StudyNearlineFault" nillable="true" type="tns:StudyNearlineFault" />
  <xs:complexType name="StudyInUseFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="StudyInUseFault" nillable="true" type="tns:StudyInUseFault" />
  <xs:complexType name="StudyOfflineFault">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="StudyOfflineFault" nillable="true" type="tns:StudyOfflineFault" />
</xs:schema>